page-ganancias {
    .cards {
        margin-bottom: 20%;
        margin-top: 20%;
        position: relative;
        text-align: center;
        height: 10rem;
        background: #9A999E;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #000000;
      }
}
